/* 1. Import Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


/* 2. Configure the theme to use Montserrat as the default Sans font */
@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

/* 3. Apply it globally to the body */
@layer base {
  body {
    font-family: var(--font-sans);
    @apply antialiased;
  }
}

/* Hide scrollbar for slider */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}